* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.858)
}
h3 {
    font-size: 13pt;
    padding-bottom: 5px
}
/*Leftmenu*/
#container {
    position: relative;
}
#logo {
    margin-left: 100px;
    width: 200px;
    height: 100px;
}
#logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leftmenu {
    position: fixed;
    height: 100%;
    width: 200px;
    background: rgb(219, 226, 239);
    padding: 20px;
    transition: 0.25s;
    overflow: hidden;
    z-index: -1;
}
.leftmenu.active {
    padding: 0px;
    width: 60px;
    z-index: -1;
}
.navlogo {
    height: 30px;
    width: 30px;
}
.leftmenu.active .navlogo {
    margin-left: 15px;
}
.leftmenu ul li {
    list-style: none;
}
.leftmenu ul li:first-child {
    margin-top: 100px
}
.leftmenu ul li:hover {
    background: rgba(100, 100, 100, 0.2)
}
.leftmenu li a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    line-height: 50px;
    font-size: 15pt;
    border-bottom: 1px solid grey;
}
.leftmenu .title {
    font-size: 13pt;
    margin: 0 10px;
    white-space: nowrap;
}
.leftmenu.active .navlogo {
    margin-left: 15px;
}
.leftmenu.active .title {
    font-size: 0;
}

/*Topbar*/
.topbar {
    position: fixed;
    display: flex;
    width: 100%;
    background: white;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
    /*Chuyển đổi menu*/
.toggle {
    position: relative;
    height: 100%;
    width: 60px;
    cursor: pointer;
}
.toggle:before {
    content: url('../img/admin/menu-rounded.png');
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 45px;
}
    /*Thông tin của admin*/
.admin-info {
    display: flex;
    margin-right: 40px;
    color: royalblue;
    font-weight: bold;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
.admin-cart {
    margin-top: 2px;
}

/*Bao của nội dung trang*/
.main {
    position: absolute;
    background-image: url('../img/admin/background-mix.jpg');
    left: 200px;
    min-height: 100vh;
    right: 0;
    transition: 0.25s;
    margin-top: 60px;
    z-index: -1;
}
.main.active {
    width: auto;
    left: 60px;
}
    /*Content*/
        /*Tiêu đề trang web, VD: Danh mục sản phẩm/đơn hàng,...  */
.content .page-title {
    margin-top: 15px;
    text-align: center;
    font-size: 16pt;
    font-weight: 800;
    color: #363660;
}
       /*Thẻ menu khi thu nhỏ trình duyệt*/
.card-box {
    display: none;
    height: auto;
    margin: 20px 0px;
}
.card {
    height: 60px;
    border: 1px solid gray;
    background: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
}
.card .card-logo {
    height: 30px;
    width: 30px;
}
        /*Bao chứa thanh tìm kiếm, sản phẩm/đơn hàng,.. */
.content {
    margin: 0 auto;
    width: 100%;
}
        /*Các options của admin*/
.options{
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    justify-content: space-around;

}
.options label{
    color: brown;
    font-weight: 600;
}
        /*Thanh tìm kiếm*/
.searching-bar {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin: 25px 0px;
    align-items: center;
    justify-content: center;
}
.searching-bar input {
    border-radius: 20px;
    width: 80%;
    height: 30px;
    padding: 5px 40px;
    font-size: small;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
        /*Bảng chứa nội dung*/
table {
    width: 90%;
    margin: 0 auto;
    font-size: 12pt;
    margin-bottom: 20px;
    background: #f5f5f5;
    box-shadow: -15px 5px 20px rgba(0, 0, 0, 0.4);
}
table th {
    background-color: rgb(17, 45, 78);
    height: 30px;
    color: #fff;
}
table a,   td {
    text-align: center;
}
table td:first-child,
th:first-child,
table td:nth-child(5),
th:nth-child(5),
table td:last-child,
th:last-child {
    width: 10%
}
table td img {
    width: 200px;
    height: 200px;
}
table td:nth-child(2),
th:nth-child(2) {
    width: 200px;
}
table td:nth-child(4),
th:nth-child(4) {
    width: 20%;
}
        /*Nút xem chi tiết*/
.detail_btn{
    position: relative;
    height: 30px;
    width: 50%;
    border-radius: 5px;
    font-weight: 530;
    border: none;
    background: #6fd649b4;
    cursor: pointer;
}
        /*popup chi tiết*/
.detail_wrapper{
    display: none;
    position: fixed;
    border: 2px solid black;
    width: 70%;
    background: #f5f5f8;
    margin-left: 6%;
    scale: 0.05;
    align-items: center;
    z-index: 1;
}
.detail_wrapper.active{
    scale: 1;
    display: block;
    margin-left: 8%;
}
.detail_head{
    padding: 10px 20px;
    border-bottom: 2px solid black;
    background: #fff;
}
.detail{
    width: 98%;
    margin: 1px 0;
    display: flex;
    font-size: 14pt;
}
.left_detail{
    height: max-content;
    border-right: 2px solid black;
}
.left_detail img{
    width: 200px;
}
.right_detail{
    width: 100%;
    padding: 10px 20px;
}
.detail_pro input{
    width: 60%;
    outline: none;
}
.detail_pro{
    margin-bottom: 20px;
}
#id{
    width: 100%;
    height: fit-content;
    border-top: 1px solid black;
    text-align: center;
}
#change_image{
    width: 200px;
    margin: 10px 0px;
}
#name{    margin-left: 50px;}
#price{    margin-left: 53px;}
#author{    margin-left: 25px;}
#descr{    
    margin-left: 38px;
    height: 100px;
}
    /*Phân trang*/
.pagination-wrap {
    display: flex;
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    border: 2px solid black;
}

.pagination-wrap button {
    color: var(--color-dark--);
    cursor: pointer;
}

.pagination-wrap.active {
    visibility: visible
}

.pagination-wrap button {
    border: none;
    background: none;
    margin: 2px;
    height: 30px;
    width: 30px;
    font-size: 15pt;
    font-weight: 540;
}
.pagination-wrap button:hover {
    background-color: #39f;
    color: #fff;
}
.pagination-wrap button.active {
    background-color: #39f;
    color: #fff;
}
.pagination-wrap button:disabled {
    color: #6b677e;
}
/*Responsive*/
@media(max-width:900px) {
    .main,
    .main.active {
        left: 0;
    }
    .toggle {
        display: none;
    }
    .card-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .detail_btn{
        width: fit-content;
    }
    .detail_wrapper.active{
        transform: translate(15%, -50%) scale(1);
    }

}
@media(max-width: 710px){
    .detail_wrapper.active{
        display: none;
    }
}
@media(max-width:540px) {
    .main,
    .main.active {
        left: 0;
        width: 540px;
    }
    .card-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
    }
}
.information-admin td {
    width: 100%;
    background: #f5f5f5;
    height: 40px;
    color: rgb(17, 45, 78);
    font-size: 15pt;
    margin-top: auto;
    padding-block: auto;
}
.information-admin table {
    margin-block: 40px;
}
.information-admin table td:first-child {
    width: 25%;
}
.footer{
    margin-bottom:50px;
}
.footer-left {
    border-right: 1px solid rgb(4, 4, 66);
    width: 30%;
    padding-left: 10%;
    float: left;
    margin-bottom: 100px;
}
.footer-left img{
    width: 35px;
}
#footer-logo {
    width: 90%;
    height: 90%;

}
.footer-right h3 {
    color: darkcyan;
}
.footer-right img {
    width: 20px;
    height: 20px;
}
.footer-right {
    text-align: left;
}
.service-footer-admin {
    float: left;
    width: 20%;
    padding-left: 50px;
}
.support-footer-admin {
    float: left;
    width: 25%;
    padding-left: 40px;
}
.contact-footer-admin {
    width: 20%;
    float: left;
}
.payment-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    height: 80px;
    margin-right: 16px;
    float: left;
}
