main{
    padding-top: 0;
}

.cart-container{
    width: 90%;
    margin: 8rem auto;
    min-height: 50vh;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.item-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: white;
    background-color: var(--navy);
}

td{
    padding: 1rem .5rem;
    font-size: 1.6rem;
}

td input{
    width: 4rem;
    height: 3rem;
    padding: .5rem;
}

td img{
    height: 150px;
    width: 150px;
    margin-right: 1rem;
    object-fit: contain;
}

td .name{
    font-size: 2rem;
    font-weight: 600;
}

td button{
    padding: .5rem 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: white;
    background-color: #CF0A0A;
    border: none;
    border-radius: 6px;
}

td button i{
    margin-right: 5px;
}

h2{
    text-align: right;
    font-size: 2rem;
    margin-right: 5rem;
}

.total{
    color: #a31023;
    font-size: 2.5rem;
}

.order-form{
    width: 90%;
    margin: 2rem auto;
}

.order-form input{
    display: block;
    width: 60vw;
    padding: .5rem;
    margin: .5rem 0;
    word-spacing: 1px;
    font-size: 1.8rem;
}

.order-form label{
    font-size: 1.8rem;
}

.order-btn{
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: var(--navy);
    color: #fff;
    font-size: 1.8rem;
}