@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Maitree:wght@200;300;400;500;600;700&display=swap");
/* global */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --navy: rgb(17, 45, 78);
  --blue: rgb(63, 114, 175);
  /* --navy: rgb(0, 31, 141);
  --blue: rgb(0, 132, 255); */
  --lightblue: rgb(219, 226, 239);
  --smoke: #f8f6f0;
}

body {
  background-color: var(--smoke);
}

/* header */
header{
  width: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

.sticky{
  background-color: var(--navy);
}

.sticky div > a, .sticky .dropdown button, .sticky div  i{
  color: #fff;
}

.top-menu {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* overflow: hidden; */
  z-index: 15;
  gap: 10px;
}

.logo {
  min-width: 18rem;
  height: 5rem;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dropdown menu */
.dropdown {
  flex-basis: 5%;
  position: relative;
}

.dropdown-btn{
  font-size: 3.5rem;
  color: var(--blue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu{
  position: absolute;
  display: inline-block;
  width: 200px;
  left: -20px;
  top: calc(100% + 2rem);
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.drop > .dropdown-menu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu li{
  border-top: 1px solid black;
}

.dropdown-menu li a{
  display: block;
  margin: 0 auto;
  font-size: 1.8rem;
  padding: 1rem .5rem;
  color: #333;
}

/* searchbar */

.search {
  position: relative;
  flex-basis: 50%;
}

#search_bar{
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1.5rem;

}

.search-results{
  position: absolute;
  display: inline-block;
  width: 100%;
  left: 0;
  top: calc(100% + 1rem);
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  z-index: 20;
}

.search.drop > .search-results{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.result{
  display: flex;
  padding-bottom: 1.5rem;
}

.result-img{
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.result-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result-info{
  flex-basis: 70%;
}

.result-name{
  font-size: 2rem;
  color: #222;
  cursor: pointer;
  display: block;
}

.result-price{
  font-size: 1.8rem;
  color: #c92127;
}

.user-menu {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.user-menu a {
  font-size: 1.8rem;
  color: var(--blue);
  margin-left: 0.5rem;
}

.user-menu i {
  color: var(--blue);
  font-size: 3rem;
}

.user{
  position: relative;
}

.user-text{
  border-bottom: 2px solid black;
  cursor: default;
}

.state{
  width: 200px;
  display: none;
  position: absolute;
  top: calc(100%+3rem);
  left: -20px;
  background-color: #fff;
  box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
}

.state p{
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: .5rem;
}

.state.logged{
  display: block;
}

/* I CHANGE HERE */
.fav, .cart-icon{
  position: relative;
  margin: 0 .5rem;
}

.fav i, .cart-icon i{
  font-size: 3rem;
}
/* TO HERE */
.counter{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  color: var(--navy);
  background-color: #FFD384;
}

.user-icon {
  display: none;
}

main{
  padding-top: 10rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4rem 0 2rem 0;
  background-color: var(--navy);
}

footer h3 {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.8rem;
  color: #fff;
}

.input-box {
  width: 300px;
  position: relative;
  margin: 1rem 0;
}

.input-box input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.75rem;
}

.input-box > .send-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.75rem 1rem;
  color: black;
  background-color: #ffe05d;
  cursor: pointer;
}

.social-media i {
  width: 5rem;
  font-size: 3rem;
  color: #fff;
}

.info {
  display: flex;
  gap: 5px;
  font-size: 1.4rem;
  color: #fff;
}

.info a {
  color: #ffe05d;
}

/* responsive */
@media (max-width: 950px) {
  main{
    padding-top: 15rem;
  }

  .user-icon {
    display: inline-block;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-menu{
    margin-top: 40px;
  }

  .search {
    flex-basis: 70%;
    font-size: 1.2rem;
  }

  .user-menu {
    flex-basis: 20%;
  }
}

@media (max-width: 750px) {
  footer {
    display: block;
  }
}
