main {
  width: 90%;
  margin: 0 auto;
}

.path{
    font-size: 2rem;
    padding: .5rem 0;
    text-transform: uppercase;
}

h3 {
  font-size: 2rem;
}

.shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-sidebar {
  flex-basis: 25%;
  padding: 2rem;
  max-height: 60vh;
}

.category {
  background-color: #ddd;
  padding: 1rem;
}

.category li {
  color: var(--blue);
  font-size: 1.6rem;
  padding-left: 2rem;
  margin-top: 0.5rem;
  cursor : pointer;
}
.active {
  background-color:var(--navy);
  color: #fff;
  border: solid 1px black;
}

.sort {
  background-color: #ddd;
  padding: 2rem;
  margin-top: 3rem;
}

.sort li {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

/* trưng bày sản phẩm */
.items {
  flex-basis: 70%;
  padding: 1rem;
}

/* item wrapper  */
.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-img {
  background-color: #fff;
  width: 100%;
  height: 30rem;
  cursor: pointer;
}

.item-img img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-position: center;
}

.item-name {
  padding-top: 0.5rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: black;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}

.book-author {
  font-family: "Maitree", serif;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.book-author:hover {
  text-decoration: underline;
}

.item-price {
  font-size: 1.8rem;
  font-weight: 500;
  color: #c92127;
}

.buy-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--navy);
  background-color: var(--smoke);
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.25s;
}

.buy-btn:hover {
  color: #fff;
  background-color: var(--navy);
}

.buy-btn i {
  font-size: 1.6rem;
  padding-right: 0.5rem;
}

.buy-btn p {
  font-size: 1.4rem;
  font-weight: 400;
}

.page-counter{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-counter div > i{
    background-color: var(--navy);
    color: white;
    padding: 1rem;
    margin: 0 3rem;
}
.page-counter.current{
  background-color: var(--blue);
}

#pagination-numbers{
  display: flex;
}

#pagination-numbers div{
    font-size: 1.8rem;
    padding: .5rem 1rem;
    margin: 0 1rem;
}

/* #pagination-numbers #div.active{
    background-color: white;
    color: var(--navy);
} */

#pagination-numbers div:hover{
  background-color: var(--navy);
  color: white;
  cursor: pointer;
}

.fa-chevron-right, .fa-chevron-left{
  cursor: pointer;
}


/* responsive */
@media(max-width: 900px){
  .item-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 700px){
  main{
    width: 100%;
  }

  .shop{
    display: block;
  }

  .left-sidebar{
    display: none;
  }

  .items{
    width: 90%;
    margin: 0 auto;
  }

  .item-name{
    font-size: 2rem;
  }

  .buy-btn p{
    font-size: 1.2rem;
  }
  
}

header .top-menu .search {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}
header .top-menu .search .box {
  position: absolute;
  width: 100%;
  height: 250px;
  border:1px solid rgb(0, 0, 0);
  top:42px;
  background: #ddd;
  border-collapse: 10px;
  overflow: auto;
  visibility: hidden;
}
header .top-menu .search .box a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 30%;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  transition: .3s linear;
}
header .top-menu .search .box a img {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  margin-right: 10px;
}
header .top-menu .search .box a:hover {
   background: #96caf1;
}

header .top-menu .search .box a .content1 {
  color: rgb(0, 0, 0);
}
header .top-menu .search .box a .content1 h6 {
  font-size: 20px;
}
header .top-menu .search .box a .content1 p{
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}


